
celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
cryptography==46.0.1
daphne==4.1.2
Django==4.2.16
django-allauth==65.12.1
django-channels==0.7.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==23.2
django-guardian==3.0.0
django-redis==5.4.0
django-taggit==6.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.0
dj-rest-auth==6.0.0
drf-yasg==1.21.10
google-ai-generativelanguage==0.6.15
google-api-core==2.26.0
google-api-python-client==2.185.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-translate==3.15.3
google-generativeai==0.8.5
groq==0.32.0
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-text-splitters==0.3.11
openai==1.57.4
pillow==11.3.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
pypdf==5.6.0
python3-openid==3.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
redis==5.0.8
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
sentry-sdk==2.18.0
anthropic==0.59.0

